@font-face{
    src: url('assets/fonts/Roboto-Bold.ttf');
    font-family: "Roboto";
}

@font-face{
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-family: "Roboto";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-family: "Roboto", sans-serif;
    --font-bold: 700;
    --font-regular: 400;
    --font-size: 16px;

    --content-width: 1440px;
    --mobile-width: 375px;

    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%, 58%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-regular);
    color: var(--blue-700);
}

.form-container{
    width: 100%;
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1.5em;
}

h1{
    font-size: 2.5em;
    font-weight: var(--font-bold);
    margin: 16px 0;
    color: var(--blue-800);
}

p{
    margin: 12px 0;
}



/* Desktop responsiveness */

@media (min-width: 48em){
    .container{
        background-color: var(--blue-800);
        width: var(--content-width);
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-container{
        width: 50em;
        border-radius: 1em;
        display: flex;
        flex-direction: row-reverse;
    }

    .form-component{
        padding: 3em;
    }
}